In [17]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report,accuracy_score
import numpy as np

In [ ]:
read_file = pd.read_excel("dummy_insurance_data.xlsx")
read_file.to_csv("dummy_insurance_data.csv", index=None, header=True)
df = pd.read_csv('./dummy_insurance_data.csv')
df

,age,weight,height,income_lpa,smoker,city,occupation,insurance_premium_category
0,25,60,170,4.5,No,Mumbai,Software Engineer,Low
1,32,72,175,8.0,Yes,Delhi,Sales Manager,Medium
2,45,80,168,12.5,Yes,Bangalore,Business Owner,High
3,29,65,172,6.2,No,Pune,Data Analyst,Low
4,38,78,180,10.0,No,Hyderabad,Project Manager,Medium
5,50,85,165,15.0,Yes,Chennai,Consultant,High
6,41,70,169,9.5,No,Jaipur,Government Officer,Medium
7,27,58,167,3.8,No,Indore,Student,Low
8,35,75,173,7.5,Yes,Ahmedabad,Factory Supervisor,Medium
9,55,90,160,18.0,Yes,Kolkata,Retired,High

In [6]:
df.sample(5)

,age,weight,height,income_lpa,smoker,city,occupation,insurance_premium_category
6,41,70,169,9.5,No,Jaipur,Government Officer,Medium
8,35,75,173,7.5,Yes,Ahmedabad,Factory Supervisor,Medium
3,29,65,172,6.2,No,Pune,Data Analyst,Low
0,25,60,170,4.5,No,Mumbai,Software Engineer,Low
5,50,85,165,15.0,Yes,Chennai,Consultant,High

In [7]:
df_feat = df.copy()

In [8]:
# feature 1: BMI
df_feat["BMI"] = df_feat["weight"]/(df_feat["height"]**2)

In [9]:
# feature 2: Age Group
def age_group(age):
    if age < 25:
        return "young"
    elif age < 45:
        return "adult"
    elif age < 65:
        return "middle-aged"
    else:
        return "senior"

In [10]:
df_feat["age_group"] = df_feat["age"].apply(age_group)

In [11]:
# Feature 3 : LifeStyle Risk
def lifestyle_risk(row):
    if row["smoker"] and row['bmi'] > 30:
        return "High"
    elif row["smoker"] or row['bmi'] > 25:
        return "Medium"
    else:
        return "Low"

In [19]:
df_feat['lifestyle_risk'] = df_feat.apply(lifestyle_risk,axis=1)

KeyError: 'bmi'

In [13]:
tier_1_cities = ['Delhi','Mumbai','Bangalore','Hyderabad','Chennai']
tier_2_cities = ['Pune','Kolkata','Ahmedabad','Surat','Visakhapatnam','Jaipur','Lucknow','Indore','Patna','Coimbatore','Visakhapatnam']

In [14]:
# Feature 4 : City Tier
def city_tier(city):
    if city in tier_1_cities:
        return 1
    elif city in tier_2_cities:
        return 2
    else:
        return 3

In [15]:
df_feat['city_tier'] = df_feat['city'].apply(city_tier)

In [ ]:
df_feat.drop(columns=["age",'weight','height','smoker','bmi','verdict'])[['income_lpa','occupation','bmi','age_group','lifestyle_risk','city_tier']]

In [ ]:
# Select features and target
x = df_feat[['bmi','age_group','lifestyle_risk','city_tier','income_lpa','occupation']]
y = df_feat['insurance_premium_category']
print(x)
print(y)

In [ ]:
# Define categorical and numeric features
categorical_features = ['age_group','lifestyle_risk','city_tier','occupation']
numeric_features = ['bmi','income_lpa']

In [22]:
# create column transformer for OHE
preprocessor = ColumnTransformer(
    transformers=[
    ('cat',OneHotEncoder(),categorical_features),
    ('num','passthrough',numeric_features)
])

NameError: name 'categorical_features' is not defined

In [ ]:
# Create a pipeline with preprossing and random forest classifier
pipeline = Pipeline( steps=[
    ('preprocessor',preprocessor),
    ('classifier',RandomForestClassifier(random_state=42))
])

In [21]:
X_train,Y_test,X_test,Y_train = train_test_split(x,y,test_size=0.2,random_state=1)
pipeline.fit(X_train,Y_train)
pipeline.score(X_test,Y_test)

NameError: name 'x' is not defined

In [20]:
# Predict and evaluate
y_pred = pipeline.predict(X_test)
accuracy_score(Y_test,y_pred)

NameError: name 'pipeline' is not defined

In [ ]:
import pickle

pickle_model_path = 'model.pkl'

with open(pickle_model_path,'wb') as f:
    model = pickle.dump(f)